* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(#FFCD00, #544400);
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-text {
    color: rgb(49, 49, 49);
    margin: auto;
    font-size: 1.8rem;
    vertical-align: middle;

    .points-per-game {
        line-height: 0.85;
        color: black;
        font-size: 15rem;
        font-weight: bold;
    }
    .points-per-game-goal {
        color: rgb(49, 49, 49);
        font-size: 4rem;
        font-weight: bold;
    }
}